@import url('root.css');

body {
    background-color: var(--white);
    color: var(--black);
    font-family: var(--font-primary);
}

.text-highlight {
    color: var(--text-primary)
}

.subtitle {
    color: var(--subtitle);
}

.flex-container{
    width: 100%;
    height: 97vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

img {
    text-align: right;
    float: right !important;
}

.btn {
    padding: 10px max(2.1875rem, min(calc(2.142rem + .1942vw), 2.375rem));
    border-radius: 1000px;
    border: hidden;
    font-size: 16px;
    margin-right: 10px;
}

.btn-primary {
    background-color: var(--main-primary);
    color: var(--white)
}

.btn-primary:hover {
    background-color: var(--main-secondary);
}

b {
    color: var(--black);
}