@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&family=Play&display=swap');

:root {
    --white: #ffff;
    --black: #000000;

    --subtitle: #646363;

    --main-primary: #8241d2;
    --main-secondary: #9b18dc;

    --text-primary: #77ecdd;
    --font-primary: 'Play', sans-serif;
    --box-size: 50px 50px;
}